baseURL: "https://ldbenitez.github.io"
title: Leonardo Benítez
paginate: 5
theme: PaperMod

minify:
  disableXML: true
  minifyOutput: true

outputs:
  home:
    - HTML
    - RSS
    - JSON

caches: 
  getjson:
    dir: /tmp/hugo_cache/blog-site
    maxAge: 10s 

languages:
  en:
    languageName: ":en:"
    languageAltTitle: "English"
    weight: 1
    profileMode:
      enabled: true
      title: "Hey there!"
      subtitle: "It works on my machine"
      quoteTitle: "Today's Quote"
      quoteUrl: "https://quotes-worker.lbenitez.workers.dev/"
      imageUrl: "/blackhole.jpg"
      imageTitle: "black hole"
      imageWidth: 180
      imageHeight: 180
    menu:
      main:
        - name: Blog
          url: archives
          weight: 10
        - name: Tags
          url: tags
          weight: 20
        - name: Search
          url: search/

  es:
    languageName: ":es:"
    languageAltTitle: "Español"
    weight: 2
    profileMode:
      enabled: true
      title: "Hola!"
      subtitle: "Próximamente..."
      quoteTitle: "Frase del Día"
      quoteUrl: "https://quotes-worker.lbenitez.workers.dev/"
      imageUrl: "/blackhole.jpg"
      imageTitle: "black hole"
      imageWidth: 180
      imageHeight: 180
    menu:
      main:
        - name: Blog
          url: archives
          weight: 10
        - name: Etiquetas
          url: tags
          weight: 20
        - name: Buscar
          url: search/
      
taxonomies:
  tag: tags

params:
  defaultTheme: dark
  author: Leonardo Benítez
  ShowReadingTime: true
  ShowBreadCrumbs: true
  ShowPostNavLinks: true
  ShowCodeCopyButtons: true
  ShowToc: true

  socialIcons:
    - name: email
      url: "mailto:ldbenitez@protonmail.com"
    - name: github
      url: "https://github.com/ldbenitez"
    - name: twitter
      url: "https://twitter.com/ldbenitezpy"
    - name: telegram
      url: "https://t.me/lbenitez"

  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 2

    keys: ["title", "content"]