
.quote-container {
    padding: 3rem 0;
    font-size: 1rem;
}

.quote-container .author {
    text-align: right;
}

.quote {
    padding: 1rem 0;
    font-style: italic; 
    font-size: 1.2rem;
    text-align: justify;
}

.profile {
    scrollbar-width: none;
    overflow-y: scroll;
}

.profile .subtitle{
    font-size: 1.3rem;
    text-align: center;
}

.profile::-webkit-scrollbar {
    display: none;
}

.social-icons {
    padding-bottom: 0;
}

.about {
    text-align: justify;
}

.about p{
    margin: 2rem 0 ;
    text-indent: 2rem;
    font-size: 1.2rem;
    font-style: italic;
}

