<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        <img src="{{ .imageUrl }}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        <h1>{{ .title | default $.Site.Title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>

        {{$quoteJson := getJSON .quoteUrl}}
        {{$quote := $quoteJson.quote}}
        {{$author := $quoteJson.author}}

        {{if $quote}}
            <div class="quote-container">
                <h3>{{ .quoteTitle | markdownify }}</h3>
                <p class="quote">"{{ $quote | markdownify }}"</p>
                <p class="author">{{ $author }}</p>
            </div>
        {{end}}

        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
    </div>
    {{- end}}
</div>

